---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="筆者のプロフィール"
	pubDate={new Date('February 25 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		本ブログをご参照いただきありがとうございます。
	</p>

	<h3>【本ブログについて】</h3>
	<p>
		学生時代からランニングが好きで続けている市民ランナーが、使用したランニングアイテムに対して、良いところ・悪いところを含め率直な意見を記載していきます。<br />
		一個人の意見ですが、少しでも皆様のランニングアイテム選びのお役に立てれば幸いです。
	</p>

	<h3>【プロフィール】</h3>
	<ul>
		<li>30代男性、雪国生まれ・雪国育ち</li>
		<li>市民ランナー</li>
	</ul>

	<h4>自己ベスト</h4>
	<ul>
		<li><strong>5000m:</strong> 16:50 (2021年4月)</li>
		<li><strong>10km:</strong> 34:52 (2025年11月)</li>
		<li><strong>ハーフマラソン:</strong> 1:14:47 (2025年12月)</li>
		<li><strong>フルマラソン:</strong> 2:39:31 (2026年2月)</li>
	</ul>
</Layout>
