---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="免責事項"
	description="当ブログのご利用に関する免責事項"
	pubDate={new Date('February 25 2025')}
>
	<h2>アフィリエイトリンクについて</h2>
	<p>
		当ブログは、アフィリエイトプログラムにより商品をご紹介致しております。
		アフィリエイトプログラムとは、商品及びサービスの提供元と業務提携を情報提供するインターネット上のシステムです。
		従いまして、当ブログの商品は当ブログが販売している訳ではありません。
	</p>
	<p>
		お客様ご要望の商品、お支払い等はリンク先の販売店と直接のお取引となりますので、特定商取引法に基づく表記につきましてはリンク先をご確認頂けますようお願い致します。
		商品の価格、商品の詳細、消費税、送料、在庫数等の詳細は時として変わる場合も御座います。
		また、返品・返金保証に関しましてもリンク先の販売元が保証するものです。当ブログだけではなくリンク先のサイトも良くご確認頂けますようお願い致します。
	</p>
	<h2>Amazonアソシエイト・プログラムについて</h2>
	<p>
		当ブログ「Taki-run RunningItem Blog」は、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、Amazonアソシエイト・プログラムの参加者です。
	</p>

	<h2>Google AdSenseについて</h2>
	<p>
		当ブログはGoogle及びGoogleのパートナー（第三者配信事業者）の提供する広告を設置しております。その広告配信にはCookieを使用し、当ブログやその他のサイトへの過去のアクセス情報に基づいて広告を配信します。
	</p>
	<p>
		Google が広告 Cookie を使用することにより、当ブログや他のサイトにアクセスした際の情報に基づいて、Google やそのパートナーが適切な広告を表示しています。
	</p>
	<p>
		お客様は<a href="https://adssettings.google.com/authenticated" target="_blank" rel="noopener noreferrer">Googleアカウントの広告設定ページ</a>で、パーソナライズ広告を無効にできます。また<a href="https://aboutads.info" target="_blank" rel="noopener noreferrer">aboutads.info</a>のページにアクセスして頂き、パーソナライズ広告掲載に使用される第三者配信事業者のCookieを無効にできます。
	</p>

	<h2>掲載情報に関する免責事項</h2>
	<p>
		当ブログの掲載情報をご利用頂く場合には、お客様のご判断と責任におきましてご利用頂けますようお願い致します。当ブログでは、一切の責任を負いかねます事ご了承願います。
	</p>
	<p>
		なお、掲載商品に関するお問合せはリンク先に御座います企業宛までお願い致します。当ブログ管理者側ではお答え致しかねます事、ご了承ください。
	</p>
</Layout>
