---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="プライバシーポリシー"
	description="当ブログにおける個人情報の取り扱いについて"
	pubDate={new Date('February 25 2025')}
>
	<h2>個人情報の利用目的</h2>
	<p>
		当ブログでは、お問い合わせや記事へのコメントの際、名前やメールアドレス等の個人情報を入力いただく場合がございます。
		取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。
	</p>

	<h2>広告について</h2>
	<p>
		当ブログでは、第三者配信の広告サービス（Googleアドセンス、A8.net、Amazonアソシエイトなど）を利用しており、ユーザーの興味に応じた商品やサービスの広告を表示するため、クッキー（Cookie）を使用しております。
		クッキーを使用することで当サイトはお客様のコンピュータを識別できるようになりますが、お客様個人を特定できるものではありません。
	</p>
	<p>
		Cookieを無効にする方法やGoogleアドセンスに関する詳細は「<a href="https://policies.google.com/technologies/ads?hl=ja" target="_blank" rel="noopener noreferrer">広告 – ポリシーと規約 – Google</a>」をご確認ください。
	</p>

	<h2>アクセス解析ツールについて</h2>
	<p>
		当ブログでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。
	</p>
</Layout>
